<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tinder Lab.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A9D60DAC1BB34DBA00626461</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9D60DC01BB34DBB00626461</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9D60DCB1BB34DBB00626461</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
